{% extends "base.html" %}
{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="/">Admin</a>
        <div class="collapse navbar-collapse mr-auto" id="navbarToggle">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/dodajPredmet">Dodaj Predmet</a>
            <a class="nav-item nav-link" href="/listaStudenata">Lista Studenata</a>
            <a class="nav-item nav-link" href="/dodajStudenta">Dodaj Studenta</a>
            <a class="nav-item nav-link active" href="/listaProfesora">Lista Profesora</a>
			<a class="nav-item nav-link" href="/dodajProfesora">Dodaj Profesora</a>
            <a class="nav-item nav-link" href="/dodijeliPredmet">Dodijeli Predmet Profesoru</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav ml-auto">
            {% if user.is_authenticated%}
                <a class="nav-item nav-link" href="/logout">Logout</a>		
            {% else %}
                <a class="nav-item nav-link" href="/login">Login</a>
            {% endif %}
        </div>
        </div>
    </div>
    </nav>
</header>

<div class="container">
    <h2>Lista profesora:</h2>

    {% for profesor in profesori %}
    <div class="border border-steel mb-3 p-2">
        {{ profesor.username }}
        <a href="/user/{{profesor.id}}">Uredi</a>
    </div>
    {% endfor %}
</div>
{% endblock %}